{% load static %}
{% load i18n %}
<!--  App Topstrip -->
    <div class="app-topstrip bg-dark py-3 px-4 w-100 d-lg-flex align-items-center justify-content-between">
      <div class="d-none d-sm-flex align-items-center justify-content-center gap-9 mb-3 mb-lg-0">
        <a class="d-flex justify-content-center" href="https://www.wrappixel.com/" target="_blank">
          <img src="{% static 'images/logos/logo-wrappixel.svg' %}" alt="" width="147">
        </a>

        <div class="d-none d-xl-flex align-items-center gap-3 border-start border-white border-opacity-25 ps-9">
          <a href="https://www.wrappixel.com/templates/category/bootstrap-templates/"
            class="link-hover d-flex align-items-center gap-2 border-0 text-white lh-sm fs-4">
            <iconify-icon class="fs-6" icon="solar:window-frame-linear"></iconify-icon>
            Templates
          </a>
          <a href="https://support.wrappixel.com/"
            class="link-hover d-flex align-items-center gap-2 border-0 text-white lh-sm fs-4">
            <iconify-icon class="fs-6" icon="solar:question-circle-linear"></iconify-icon>
            Help
          </a>
          <a href="https://www.wrappixel.com/hire-us/"
            class="link-hover d-flex align-items-center gap-2 border-0 text-white lh-sm fs-4">
            <iconify-icon class="fs-6" icon="solar:case-round-linear"></iconify-icon>
            Hire Us
          </a>
        </div>
      </div>

      <div class="d-lg-flex align-items-center gap-3">
        <h3 class="text-linear-gradient mb-3 mb-lg-0 fs-3 text-uppercase text-center fw-semibold">Checkout Pro Version
        </h3>
        <div class="d-sm-flex align-items-center justify-content-center gap-8">
          <div class="d-flex align-items-center justify-content-center gap-8 mb-3 mb-sm-0">
            <div class="dropdown d-flex">
              <a class="btn live-preview-drop fs-4 lh-sm btn-outline-primary rounded border-white border border-opacity-40 text-white d-flex align-items-center gap-2 px-3 py-2"
                href="javascript:void(0)" id="drop3" data-bs-toggle="dropdown" aria-expanded="false">
                Live Preview
                <iconify-icon class="fs-6" icon="solar:alt-arrow-down-linear"></iconify-icon>
              </a>
              <div class="dropdown-menu p-3 dropdown-menu-end dropdown-menu-animate-up overflow-hidden rounded"
                aria-labelledby="drop3">
                <div class="message-body">
                  <a target="_blank"
                    href="https://www.wrappixel.com/templates/materialm-admin-dashboard-template/?ref=376#demos"
                    class="dropdown-item rounded fw-normal d-flex align-items-center gap-6">
                    <img src="{% static 'images/svgs/bt-cat-icon.svg' %}" width="20" alt="bootstrap" />
                    Bootstrap Version
                  </a>
                  <a target="_blank"
                    href="https://www.wrappixel.com/templates/materialm-material-angular-dashboard-template/?ref=376#demos"
                    class="dropdown-item rounded fw-normal d-flex align-items-center gap-6">
                    <img src="{% static 'images/svgs/angular-cat-icon.svg' %}" width="18" alt="angular" />
                    Angular Version
                  </a>
                  <a target="_blank"
                    href="https://www.wrappixel.com/templates/materialm-vuejs-vuetify-admin-template/?ref=376#demos"
                    class="dropdown-item rounded fw-normal d-flex align-items-center gap-6">
                    <img src="{% static 'images/svgs/vue-cat-icon.svg' %}" width="18" alt="vue" />
                    VueJs Version
                  </a>
                  <a target="_blank"
                    href="https://www.wrappixel.com/templates/materialm-next-js-tailwind-dashboard-template/?ref=376#demos"
                    class="dropdown-item rounded fw-normal d-flex align-items-center gap-6">
                    <img src="{% static 'images/svgs/next-cat-icon.svg' %}" width="18" alt="next" />
                    NextJs Version
                  </a>
                  <a target="_blank"
                    href="https://www.wrappixel.com/templates/materialm-next-js-tailwind-dashboard-template/?ref=376#demos"
                    class="dropdown-item rounded fw-normal d-flex align-items-center gap-6">
                    <img src="{% static 'images/svgs/tailwindcss.svg' %}" width="18" alt="tailwind" />
                    Tailwind Version
                  </a>
                  <a target="_blank" href="https://www.wrappixel.com/templates/materialm-vuetify-nuxt-js-admin-template/?ref=376#demos" class="dropdown-item rounded fw-normal d-flex align-items-center gap-6">
                    <img src="{% static 'images/svgs/nuxt-cat-icon.svg' %}" width="18" alt="tailwind">
                    NuxtJs Version
                  </a>
                </div>
              </div>
            </div>
            <a target="_blank"
              class="get-pro-btn rounded btn btn-primary d-flex align-items-center gap-2 fs-4 border-0 px-3 py-2"
              href="https://www.wrappixel.com/templates/materialm-admin-dashboard-template/?ref=376">
              <iconify-icon class="fs-5" icon="solar:crown-linear"></iconify-icon>
              Get Pro
            </a>
          </div>
          <a target="_blank"
            class="all-access-pass-btn rounded btn btn-primary d-flex align-items-center justify-content-center gap-2 fs-4 border-0 text-black px-3 py-2"
            href="https://www.wrappixel.com/all-access-pass/?ref=376">
            <iconify-icon class="fs-5" icon="solar:bolt-linear"></iconify-icon>
            All Access Pass
          </a>
        </div>
      </div>

    </div>